In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [4]:
from fastai import *
from fastai.tabular import *

In [5]:
path = untar_data(URLs.ADULT_SAMPLE)
path.ls()

[PosixPath('/Users/bharath/.fastai/data/adult_sample/adult.csv'),
 PosixPath('/Users/bharath/.fastai/data/adult_sample/export.pkl'),
 PosixPath('/Users/bharath/.fastai/data/adult_sample/models')]

In [6]:
df = pd.read_csv(path/'adult.csv')

In [7]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,49,Private,101320,Assoc-acdm,12.0,Married-civ-spouse,NaN,Wife,White,Female,0,1902,40,United-States,>=50k
1,44,Private,236746,Masters,14.0,Divorced,Exec-managerial,Not-in-family,White,Male,10520,0,45,United-States,>=50k
2,38,Private,96185,HS-grad,NaN,Divorced,NaN,Unmarried,Black,Female,0,0,32,United-States,<50k
3,38,Self-emp-inc,112847,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>=50k
4,42,Self-emp-not-inc,82297,7th-8th,NaN,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,50,United-States,<50k

In [8]:
dep_var = 'salary'
cat_names = ['workclass', 'education', 'marital-status',
             'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [FillMissing, Categorify, Normalize]

In [9]:
test = TabularList.from_df(df.iloc[800:1000].copy(), path=path,
                           cat_names=cat_names, cont_names=cont_names)

In [10]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names,
                            cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(800,1000)))
                           .label_from_df(cols=dep_var)
                           .add_test(test, label=0)
                           .databunch())

In [12]:
data.show_batch(rows=3)

In [13]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)

In [14]:
learn.fit(1, 1e-2)

In [26]:
row = df.iloc[0]

In [27]:
learn.predict(row)

(Category <50k, tensor(0), tensor([0.5644, 0.4356]))

In [23]:
row

age                           38
workclass                Private
fnlwgt                     96185
education                HS-grad
education-num                NaN
marital-status          Divorced
occupation                   NaN
relationship           Unmarried
race                       Black
sex                       Female
capital-gain                   0
capital-loss                   0
hours-per-week                32
native-country     United-States
salary                      <50k
Name: 2, dtype: object